.items-wrapper {
    border-top: 4px solid black;
  }
  
  .item {
    height: 25em;
    width: 20em;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: .5em;
    padding: 1em;
    background-color: white;
    transition: transform 300ms bounce;
  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  
  .items-title {
    text-align: center;
  }
  
  a {
    color: black;
  }
  
  img {
    height: 20em;
  }
  
  #product-name {
    border-top: 1px solid lightgrey;
    padding: 1em 0 0;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    margin: .5em 0;
  }
  
  #product-description {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: grey;
    font-weight: lighter;
    margin: 0;
  }
  
  #product-price {
    font-size: 1em;
  }
  
  .price-add {
    display: center;
    justify-content: space-between;
  }
  
  i {
    color: lightgrey;
    transition: 0.5s;
  }
  
  i:hover {
    color: grey;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .items-title {
    margin: 3em 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
  }
  

  .btnAddToCart {
    width: 10em;
    height: 3em;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    color:white;
    background-color:black;      
  }
  .btnAddToCart:hover {
    border: 1px solid #eee;
    background-color: #eabf00;  
  }
  

  .center {
    align-content:center;
  }